setuid = stunnel
setgid = stunnel
pid = /run/stunnel/stunnel.pid

socket = l:TCP_NODELAY=1
socket = r:TCP_NODELAY=1

foreground=yes
syslog=yes

[loopback]
client = yes
accept = 127.0.0.1:54321
connect = 127.0.0.1:54320

{% if environ('DOVECOT_RSPAMD_HOST') | length > 0 and environ('DOVECOT_RSPAMD_TLS') == '1' %}
[rspamc]
client = yes
accept = {{ environ('_DOVECOT_RSPAMC_HOST') }}:{{ environ('_DOVECOT_RSPAMC_PORT') }}
connect = {{ environ('DOVECOT_RSPAMD_HOST') }}:{{ environ('DOVECOT_RSPAMD_PORT') }}

  {% if environ('DOVECOT_RSPAMD_TLS_CA_FILE') | length > 0 %}
CAfile = {{ environ('DOVECOT_RSPAMD_TLS_CA_FILE') }}
  {% else %}
CApath = /etc/ssl/certs
  {% endif %}

  {% if environ('DOVECOT_RSPAMD_TLS_CERT_FILE') | length > 0 and environ('DOVECOT_RSPAMD_TLS_CERT_KEY_FILE') | length > 0 %}
cert = {{ environ('DOVECOT_RSPAMD_TLS_CERT_FILE') }}
key = {{ environ('DOVECOT_RSPAMD_TLS_CERT_KEY_FILE') }}
  {% endif %}

verifyChain = {% if environ('DOVECOT_RSPAMD_TLS_SKIP_VERIFY') == '0' %}yes{% else %}no{% endif %}

{% endif %}
