# This file is rendered at container startup from dovecot-sql.conf.ext.j2.
# It provides SQL authentication configuration for Dovecot 2.4+.
# This file is opened as root and should remain owned by root, mode 0600.
#
# https://doc.dovecot.org/main/core/config/auth/databases/sql.html

# MySQL connection
sql_driver = mysql

mysql {{ environ('DOVECOT_MYSQL_HOST') }} {
user = {{ environ('DOVECOT_MYSQL_USER') }}
password = {{ environ('DOVECOT_MYSQL_PASSWORD') }}
dbname = {{ environ('DOVECOT_MYSQL_DATABASE') }}
}

passdb sql {
default_password_scheme = BLF-CRYPT
query = SELECT email AS user, password FROM {{ environ('DOVECOT_MYSQL_TABLE') }} WHERE local = '%{user | username}' AND domain = '%{user | domain}' AND enabled = true
}

userdb sql {
query = SELECT CONCAT(quota_bytes, 'M') AS quota_storage_size, '/var/vmail/%{user}' AS home FROM {{
environ('DOVECOT_MYSQL_TABLE') }} WHERE local = '%{user | username}' AND domain = '%{user | domain}' AND sendonly = false
iterate_query = SELECT local AS username, domain FROM {{ environ('DOVECOT_MYSQL_TABLE') }}
}